* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #204040;
  color: #fff;
  font-family: 'Finger Paint', 'HanziPen SC', cursive;
  text-align: center;
}

.text {
  margin-top: 20px;
  font-size: 40px;
}

.title {
  font-size: 60px;
}

#container {
  display: none;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin: 20px auto;
}

.block {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 5px solid;
  border-bottom: 5px solid;
  font-size: 120px;
  cursor: pointer;
}

.block:nth-child(3n) {
  border-right: none;
}

.block:nth-child(6)~.block {
  border-bottom: none;
}

#text {
  font-size: 40px;
}

#startBtn,
#restartBtn {
  display: inline-block;
  background-color: #204040;
  font-size: 30px;
  padding: 5px 20px;
  border: 5px solid #fff;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  color: #fff;
  font-family: 'Finger Paint', cursive;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#startBtn:hover,
#restartBtn:hover {
  color: #204040;
  background-color: #fff;
}
